<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="stylesheets/creative.css" rel="stylesheet">
    <title>Meetup Share</title>
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                  <img src="images/mini.png" alt="Meetup Share" class="pull-left">
                  Meetup Share
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">O que é um Meetup?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Nosso propósito</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#participe">Participe</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#apoiadores">Apoiadores</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner sr-contact">
                <h1 id="homeHeading">Meetup Share</h1>
                <hr>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba Mais</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h2 class="section-heading text-uppercase">O que é um Meetup?</h2>
                    <hr class="light">
                    <p class="text-faded sr-icons">
                      Meetup surgiu da necessidade de novas pessoas trocarem experiências, seu principal objetivo é reunir pessoas para promover networking, discutir atualidades dos negócios e tornar o ambiente bem descontraído.
                    <p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Nosso Propósito</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center sr-icons">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comments-o text-primary sr-icons"></i>
                        <h3>Troca de Experiências</h3>
                        <p class="text-muted">
                          Queremos promover meetups para revitalizar a comunidade, fomentando o networking e a troca de experiências.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center sr-icons">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bullhorn text-primary sr-icons"></i>
                        <h3>Networking</h3>
                        <p class="text-muted">Acreditamos que os profissionais são capacitados e que atuam em uma área onde a interação social é essencial!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center sr-icons">
                    <div class="service-box">
                        <i class="fa fa-4x fa-graduation-cap text-primary sr-icons"></i>
                        <h3>Disseminação de Conhecimento</h3>
                        <p class="text-muted">Queremos conhecê-los para todos aprendermos mais!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark" id="participe">
      <div class="container text-center form-background sr-icons">
          <div class="col-md-6 col-md-offset-3 ">
            <h2 class="section-heading text-uppercase">Faça parte dessa Ideia!</h2>
            <form  id="contact" class="has-error">
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" name="name" placeholder="Nome">
                </div>
                <div class="form-group col-md-12">
                    <input type="email" class="form-control" name="email" placeholder="Email">
                </div>
              <button type="submit" class="btn btn-success">Cadastrar</button>
            </form>
            <% if (success) { %>
              <div class="alert sr-icons" role="alert">Seu cadastro foi concluido com sucesso!</div>
              <% } %>
          </div>
        </div>
    </aside>

    <section id="apoiadores">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apoiadores</h2>
                    <hr class="primary">
                    <p>Quem apoia essa ideia?</p>
                </div>
                <div class="col-lg-4 text-center">
                    <span class="sr-contact"><img src="/images/sebrae.png" alt="" width="150px" /></span>
                </div>
                <div class="col-lg-4 text-center">
                  <span class="sr-contact"><img src="/images/logoAsserti.png" alt="" width="150px" /></span>
                </div>
                <div class="col-lg-4 text-center">
                  <span class="sr-contact"><img src="/images/univem.PNG" alt="" width="120px" /></span>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="javascripts/creative.min.js"></script>

</body>

</html>
